<app-header></app-header>
<main role="main" class="container-fluid mt-48">
    <div class="row">
        <div id="myOverlay" class="overlay">
        </div>
    </div>
</main>
<section class="container-fluid bg-eee">
    <div class="container  py-2">
        <div class="row">
            <div class="col-md-12 py-4 text-center">
                <h4 class="mb-0">Home Loans - Things you should know</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 mb-2  bg-white">
                <app-homeloan></app-homeloan>
            </div>
            <div class="col-md-4 col-sm-4 mb-2  bg-white">
                <app-emicalculate></app-emicalculate>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>