.overlay {
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 240, 240);
    background: url('http://198.12.156.249:45001/pd/assets/images/img.jpg') center center no-repeat;
    background-size: cover;
}


/*
.overlay {
    height: 60vh;
    width: 80%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
} */

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}


/*
.srch-frm {
    background-color: #ffffff75;
    padding: 15px;
} */

.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.dd-slt {
    border-right: 1px solid #ccc;
}

.search-slt:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
    border-color: #ccc;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}


/*decide-better*/

.btn-outline-secondary {
    border-color: #6c757d;
    padding: .10rem .2rem;
    font-size: .775rem;
    line-height: 1.5;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.0rem rgba(108, 117, 125, .5);
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.0rem rgba(108, 117, 125, .5);
}

.offer {
    position: absolute;
    background: #0000007a;
    padding: 2px 6px;
    color: aliceblue;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    right: 0;
    top: 10px;
    border-radius: 2px 0 0 2px;
}

.imgbox {
    overflow: hidden;
}

.card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    transition: all .15s ease-in-out;
}

.card .imgbox img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.card .imgbox:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hedding-py3 {
    padding: 3rem 0;
}

.hedding-pt3 {
    padding: 3rem 0 0;
}

.decide-row {
    position: absolute;
    z-index: 1;
    top: -46px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.decide-better .better-box a.better-item {
    text-align: center;
    border: 0.1px solid #eee;
    background: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.decide-better .better-box a.better-item:hover {
    border: 0.1px solid #dadada;
}

.decide-better .better-box a.better-item:hover p {
    color: #4967ff;
}

.decide-better .better-box a.better-item img {
    width: 48px;
}

.decide-better .better-box a.better-item p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}


/*Property Gallery*/

.pg-body .propname {
    font-size: 16px;
    color: #010101;
    margin-bottom: 0px;
    font-weight: 500;
}

.pg-body .pddata {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
}

.pg-body .cmp-dec {
    line-height: 12px;
    margin-bottom: 8px;
}

.AudioCall {
    position: fixed;
    top: 80%;
    right: 0;
    text-decoration: none;
    background: #fff;
    margin: 0;
    padding: 0.1rem 0.3rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.AudioCall {
    position: fixed;
    top: 54%;
    right: 0;
    z-index: 2;
    text-decoration: none;
    background: #4967ff;
    margin: 0;
    padding: 0.3rem 0.5rem 0.1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border-radius: 2px 0 0 2px;
}

.AudioCall:hover {
    background: #0b33ff;
    color: #fff;
}

.VideoCall {
    position: fixed;
    top: 60%;
    right: 0;
    z-index: 2;
    text-decoration: none;
    background: #4967ff;
    margin: 0;
    padding: 0.4rem 0.5rem 0.1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border-radius: 2px 0 0 2px;
}

.VideoCall:hover {
    background: #0b33ff;
    color: #fff;
}

.SendQuery {
    position: fixed;
    top: 78%;
    right: -41px;
    z-index: 2;
    letter-spacing: 2px;
    text-decoration: none;
    background: #4967ff;
    margin: 0;
    padding: 0.2rem 0.5rem 0.2rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px 5px 0 0;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.SendQuery:hover {
    background: #0b33ff;
    color: #fff;
}

.sliderBox {
    height: 60vh;
    width: 100%;
    margin-top: 48px;
}

@media screen and (max-width: 767px) {
    .AudioCall {
        top: 10%;
    }
    .VideoCall {
        top: 17%;
    }
    .SendQuery {
        top: 50%;
    }
    .overlay-content {
        width: 90%;
        top: 30%;
    }
    .overlay input[type=text] {
        width: 100%;
        margin-bottom: 5px;
    }
    .dd-slt {
        border-right: 0px solid #ccc;
        margin-bottom: 5px;
    }
    .decide-row {
        position: relative;
        top: 0;
    }
    .decide-better {
        padding: 15px 0 0;
    }
    .better-box {
        margin: 0px 0 15px;
    }
    .hedding-py3 {
        padding: 1rem 0;
    }
    .hedding-pt3 {
        padding: 0rem 0 0;
    }
}
