<div class="row">
    <div class="col-sm-4">
        <div class="nav flex-column nav-pills py-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                What are the factors you should keep in mind before getting a home loan?
            </a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              What are the advantages and disadvantages of getting a home loan insured? Is it necessary to get property loan insured?
            </a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
               Why does home loan interest rate differ?
            </a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              What is pre-EMI interest?
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h3>The main criteria are: </h3>
                <p>Your income and your track record of repaying previous loans - this is obtained from the Credit Bureau.</p>
                <p>Your current expenses including other loans you are servicing. The amount of loan related to the property value. </p>
                <p>Ownership of the property - this means that the lending bank should be comfortable that the seller has full and complete ownership of the property.</p>
                <p>Getting a loan depends on the report of the local bank surveyor who will inspect the property and give his recommendation.</p>
                <p>Home loan eligibility depends on your ability to pay (ie. based on your salary) and not on the age of the building. However, the quantum of loan depends on age and undivided share too, in addition to your repayment ability.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h3> What are the advantages</h3>
                <p>It is always better to get the property loan insured. I would rather recommend a big term plan of Insurance Policy to safeguard future problems. </p>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h3> Why does home loan interest rate differ? </h3>
                <p>The banker's home loan interest rate differs from bank to bank because of the cost of funding. </p>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h3> What is pre-EMI interest? </h3>
                <p>The pre-EMI interest is the interest charged by the bank in respect to the loan provided by the bank for the period of disbursement of the actual loan to you and the effective starting of the EMI. </p>

            </div>
        </div>
    </div>
</div>