<div class="row">
    <div class="col-sm-12 py-4">
        <div class="card shadow">
            <div class="card-header px-3 py-1">
                <strong>Calculate EMI </strong>
            </div>
            <div class="card-body px-3 py-1">
                <form>
                    <div class="form-group mb-2 mt-2">
                        <label class="mb-0" for="exampleInputEmail1">Loan Amount ₹</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Ex- 25,00,000">
                        <small id="emailHelp" class="form-text text-muted">Twenty Five Lac Only</small>
                    </div>
                    <div class="form-group mb-2">
                        <label class="mb-0" for="LoanTenure">Loan Tenure </label>
                        <input type="text" class="form-control form-control-sm" id="LoanTenure" aria-describedby="LoanTenure" placeholder="Ex- 10">
                        <small id="emailHelp" class="form-text text-muted">(in years)</small>
                    </div>

                    <div class="form-group mb-2">
                        <label class="mb-0" for="LoanTenure">Rate of Interest in %</label>
                        <input type="text" class="form-control form-control-sm" id="LoanTenure" aria-describedby="LoanTenure" placeholder="Ex- 10">

                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group mb-2 py-2">
                                <button type="submit" class="btn btn-primary btn-sm">Calculate EMI</button>
                                <button type="reset" class="btn btn-link">Reset</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group mb-2">
                                <small id="emailHelp" class="form-text text-muted">Monthly EMI</small>
                                <label class="mb-0" for="LoanTenure">₹ 33,038  <button type="button" class="btn btn-link aplybtn">Apply for a loan</button> </label>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
