.overlay {
    height: 50vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 240, 240);
    background: url('https://img.staticmb.com/mbcontent/images/uploads/2015/4/Charoli,%20Pune.jpg') center center no-repeat;
    background-size: cover;
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.srch-frm {
    background-color: #ffffff75;
    padding: 15px;
}

.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.search-slt:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
    border-color: #006AFF;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

@media (min-width: 992px) {
    .search-sec {
        position: relative;
        background: rgb(245, 245, 255);
    }
}

@media (max-width: 992px) {
    .search-sec {
        background: rgb(245, 245, 255);
    }
}

.bdreee {
    border-bottom: 1px dotted #eee;
}

.moldenav a {
    text-decoration: none;
}

.propmodel {
    height: 100vh;
    width: 100%;
    padding-right: 0px !important;
}

.propmodel .close {
    position: absolute;
    right: -24px;
    font-size: 40px;
    color: #fff;
    top: 8px;
    opacity: 1;
    outline: 0;
}

.propmodel .modal-dialog {
    max-width: 86% !important;
}

.propmodel .modal-dialog .modal-content {
    margin: 0 auto;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, .2);
    height: 100vh;
}

.modelscroll {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modelscrollright {
    max-height: 61.5vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.setscroll {
    max-height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
}

.our-team {
    border-bottom: 4px solid #4967ff;
    text-decoration: none;
}

.boxd {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    transition: all .15s ease-in-out;
}

.boxd:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15);
}

.our-team .pic {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.our-team .pic img {
    width: 100%;
}

.our-team .pic img.lst {
    width: 100%;
    height: 120px;
}

.our-team .team-content {
    padding: 6px;
}

.our-team .team-title {
    font-size: 15px;
    font-weight: 500;
    color: #5a5a5a;
}

.our-team .post {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #6f6f6f;
}

.our-team .description {
    font-size: 11px;
    color: #898989;
    margin-bottom: 0px;
}

.our-team .description i {
    font-size: 14px;
    line-height: 2;
}

.our-team .desclidht {
    font-size: 11px;
    color: #898989;
    margin-bottom: 0px;
}

.desclidht .dot {
    width: 10px;
    border-radius: 50%;
    height: 10px;
    margin-right: 4px;
    display: inline-block;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .15rem .2rem;
    font-size: .775rem;
    line-height: 1.5;
}

.left-list {
    padding: 0 10px 0 0;
}

@media screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .overlay-content {
        top: 28%;
    }
    .left-list {
        padding: 0 0px 0 0;
    }
    .popular-list {
        padding: 0 10px;
    }
    .cont-agent {
        margin-bottom: 5px;
    }
    .search-slt {
        font-size: 0.875rem;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        height: calc(2rem + 2px) !important;
        border-radius: 20px;
    }
    .wrn-btn {
        height: calc(2rem + 2px) !important;
        border-radius: 20px;
    }
}