<div class="container-fluid" style="padding:20px;">
    <h4>LOCAL DATA</h4>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
    </cdk-virtual-scroll-viewport>
    <h4>API DATA</h4>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

        <tr *cdkVirtualFor="let items of records$; let i = index" class="example-item">

            <td> SN.{{i}}</td>
            <td> {{items.AlertID}}</td>
            <td>{{items.UserID}}</td>
            <td>{{items.PropertyID}}</td>
            <td>{{items.SenderID}}</td>
            <td>{{items.Subject}}</td>
            <td>{{items.Message}}</td>
            <td><img width="100" src="{{items.ImageName}} "></td>
            <td>{{items.SendDate}}</td>
            <td>{{items.IsRead}}</td>
            <td>{{items.IsDelete}}</td>
            <td>{{items.InstructionFormID}}</td>
            <td>{{items.IsAcknowledge}}</td>
            <td>{{items.CampaignID}}</td>
            <td>{{items.AlertType}}</td>
            <td>{{items.ParentID}}</td>
            <td>{{items.ScheduleIncidentID}}</td>

        </tr>
    </cdk-virtual-scroll-viewport>
    <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

        <tr *cdkVirtualFor='let items of records$; let i = index'>
            <td>{{i}}</td>
            <td>{{items.AlertID}}</td>
            <td>{{items.UserID}}</td>
                <td>{{items.PropertyID}}</td>
                <td>{{items.SenderID}}</td>
                <td>{{items.Subject}}</td>
                <td>{{items.Message}}</td>
                <td><img width=" 100 " src="{{items.ImageName}} "></td>
                <td>{{items.SendDate}}</td>
                <td>{{items.IsRead}}</td>
                <td>{{items.IsDelete}}</td>
                <td>{{items.InstructionFormID}}</td>
                <td>{{items.IsAcknowledge}}</td>
                <td>{{items.CampaignID}}</td>
                <td>{{items.AlertType}}</td>
                <td>{{items.ParentID}}</td>
                <td>{{items.ScheduleIncidentID}}</td>
        </tr>

    </cdk-virtual-scroll-viewport> -->
    <!-- <h5> {{list.userId}} -- {{list.id}}--{{list.title}}</h5> -->
    <!--
    <table>
        <tr *ngFor='let list of records$'>
            <td>{{list.albumId}}</td>
            <td>{{list.id}}</td>
            <td>{{list.title}}</td>
            <td><img width="50 " src="{{list.thumbnailUrl}} " /></td>
            <td><img width="50 " src="{{list.url}} " /></td>
            <td><img width="50 " src="{{list.thumbnailUrl}} " /></td>
            <td><img width="50 " src="{{list.url}} " /></td>
            <td><img width="50 " src="{{list.thumbnailUrl}} " /></td>
            <td><img width="50 " src="{{list.url}} " /></td>
        </tr>
    </table> -->

    <!-- <table>
        <tr>
            <th>SN.</th>
            <th>Alert ID</th>
            <th>User ID</th>
            <th>Property ID</th>
            <th>Sender ID</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Image Name</th>
            <th>Send Date</th>
            <th>Is Read</th>
            <th>Is Delete</th>
            <th>Instruction</th>
            <th>Acknowledge</th>
            <th>Campaign</th>
            <th>Alert Type</th>
            <th>Parent ID</th>
            <th>Schedule Incident</th>

        </tr>

        <tr *ngFor='let list of records$; let i = index'>
            <td>{{i}}</td>
            <td>{{list.AlertID}}</td>
            <td>{{list.UserID}}</td>
            <td>{{list.PropertyID}}</td>
            <td>{{list.SenderID}}</td>
            <td>{{list.Subject}}</td>
            <td>{{list.Message}}</td>
            <td><img width="100 " src="{{list.ImageName}} "></td>
            <td>{{list.SendDate}}</td>
            <td>{{list.IsRead}}</td>
            <td>{{list.IsDelete}}</td>
            <td>{{list.InstructionFormID}}</td>
            <td>{{list.IsAcknowledge}}</td>
            <td>{{list.CampaignID}}</td>
            <td>{{list.AlertType}}</td>
            <td>{{list.ParentID}}</td>
            <td>{{list.ScheduleIncidentID}}</td>
        </tr>
    </table> -->
</div>
