<div class="row">
    <div class="col-sm-12 px-0 pt-4 pb-2">
        <div class="card shadow">
            <div class="card-body px-3 py-1">
                <form>
                    <div class="row py-3 px-3">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 px-1 mb-1">
                                    <select class="form-control search-slt dd-slt" id="sluse">
                                    <option selected>For Self Use</option>
                                    <option>For Investment</option>
                                  </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 px-1 mb-1">
                                    <select class="form-control search-slt dd-slt" id="exampleFormControlSelect1">
                                        <option disabled selected>City</option>
                                        <option>Ahmedabad</option>
                                        <option>Bangalore</option>
                                        <option>Chennai</option>
                                        <option>Faridabad</option>
                                        <option>Ghaziabad</option>
                                        <option>Greater Noida</option>
                                        <option>Gurgaon</option>
                                        <option>Hyderabad</option>
                                        <option>Kolkata</option>
                                        <option>Mumbai</option>
                                        <option>New Delhi</option>
                                        <option>Noida</option>
                                        <option>Pune</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 px-1 mb-1">
                                    <select class="form-control search-slt dd-slt" id="exampleFormControlSelect1">
                                    <option disabled selected>Min Budget - per sqft</option>
                                    <option>₹ 0</option>
                                    <option>₹ 1000</option>
                                    <option>₹ 2000</option>
                                    <option>₹ 3000</option>
                                    <option>₹ 4000</option>
                                    <option>₹ 5000</option>
                                    <option>₹ 6000</option>
                                    <option>₹ 7000</option>
                                    <option>₹ 8000</option>
                                    <option>₹ 9000</option>
                                    <option>₹ 10000</option>
                                    <option>₹ 11000</option>
                                    <option>₹ 12000</option>
                                    <option>₹ 13000</option>
                                    <option>₹ 14000</option>
                                    <option>₹ 15000</option>
                                    <option>₹ 16000</option>
                                    <option>₹ 17000</option>
                                    <option>₹ 18000</option>
                                    <option>₹ 19000</option>
                                    <option>₹ 20000</option>
                                    <option>₹ 21000</option>
                                    <option>₹ 22000</option>
                                    <option>₹ 23000</option>
                                    <option>₹ 24000</option>
                                    <option>₹ 25000</option>
                                    <option>₹ 26000</option>
                                    <option>₹ 27000</option>
                                    <option>₹ 28000</option>
                                    <option>₹ 29000</option>
                                    <option>₹ 30000</option>
                                    <option>₹ 31000</option>
                                    <option>₹ 32000</option>
                                    <option>₹ 33000</option>
                                    <option>₹ 34000</option>
                                    <option>₹ 35000</option>
                                    <option>₹ 36000</option>
                                    <option>₹ 37000</option>
                                    <option>₹ 38000</option>
                                    <option>₹ 39000</option>
                                    <option>₹ 40000</option>
                                    <option>₹ 45000</option>
                                    <option>₹ 50000</option>
                                    <option>₹ 55000</option>
                                    <option>₹ 60000</option>
                                    <option>₹ 65000</option>
                                    <option>₹ 70000</option>
                                    <option>₹ 75000</option>
                                    <option>₹ 80000</option>
                                    <option>₹ 85000</option>
                                    <option>₹ 90000</option>
                                    <option>₹ 95000</option>
                                    <option>₹ 100000</option>
                                    <option>₹ 105000</option>
                                    <option>₹ 110000</option>
                                    <option>₹ 115000</option>
                                    <option>₹ 120000</option>
                                    <option>₹ 125000</option>
                                    <option>₹ 130000</option>
                                    <option>₹ 135000</option>
                                    <option>₹ 140000</option>
                                    <option>₹ 145000</option>
                                    <option>₹ 150000</option>
                                    <option>₹ 155000</option>
                                    <option>₹ 160000</option>
                                    <option>₹ 165000</option>
                                    <option>₹ 170000</option>
                                    <option>₹ 175000</option>
                                    <option>₹ 180000</option>
                                    <option>₹ 185000</option>
                                    <option>₹ 190000</option>
                                    <option>₹ 195000</option>
                                    <option>₹ 200000</option>
                                    <option>₹ 210000</option>
                                    <option>₹ 220000</option>
                                    <option>₹ 230000</option>
                                    <option>₹ 240000</option>
                                    <option>₹ 250000</option>
                                    <option>₹ 260000</option>
                                    <option>₹ 270000</option>
                                    <option>₹ 280000</option>
                                    <option>₹ 290000</option>
                                    <option>₹ 300000</option>
                                    <option>₹ 410000</option>
                                    <option>₹ 420000</option>
                                    <option>₹ 430000</option>
                                    <option>₹ 440000</option>
                                    <option>₹ 450000</option>
                                    <option>₹ 460000</option>
                                    <option>₹ 470000</option>
                                    <option>₹ 480000</option>
                                    <option>₹ 490000</option>
                                    <option>₹ 500000</option>
                                    <option>₹ 525000</option>
                                    <option>₹ 550000</option>
                                    <option>₹ 575000</option>
                                    <option>₹ 600000</option>
                                    <option>₹ 650000</option>
                                    <option>₹ 700000</option>
                                    <option>₹ 750000</option>
                                    <option>₹ 800000</option>
                                    <option>₹ 850000</option>
                                    <option>₹ 900000</option>
                                    <option>₹ 950000</option>
                                    <option>₹ 1000000</option>
                                  </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 px-1 mb-1">
                                    <select class="form-control search-slt dd-slt" id="exampleFormControlSelect1">
                                      <option disabled selected>Max Budget - per sqft</option>
                                      <option>₹ 1000</option>
                                      <option>₹ 2000</option>
                                      <option>₹ 3000</option>
                                      <option>₹ 4000</option>
                                      <option>₹ 5000</option>
                                      <option>₹ 6000</option>
                                      <option>₹ 7000</option>
                                      <option>₹ 8000</option>
                                      <option>₹ 9000</option>
                                      <option>₹ 10000</option>
                                      <option>₹ 11000</option>
                                      <option>₹ 12000</option>
                                      <option>₹ 13000</option>
                                      <option>₹ 14000</option>
                                      <option>₹ 15000</option>
                                      <option>₹ 16000</option>
                                      <option>₹ 17000</option>
                                      <option>₹ 18000</option>
                                      <option>₹ 19000</option>
                                      <option>₹ 20000</option>
                                      <option>₹ 21000</option>
                                      <option>₹ 22000</option>
                                      <option>₹ 23000</option>
                                      <option>₹ 24000</option>
                                      <option>₹ 25000</option>
                                      <option>₹ 26000</option>
                                      <option>₹ 27000</option>
                                      <option>₹ 28000</option>
                                      <option>₹ 29000</option>
                                      <option>₹ 30000</option>
                                      <option>₹ 31000</option>
                                      <option>₹ 32000</option>
                                      <option>₹ 33000</option>
                                      <option>₹ 34000</option>
                                      <option>₹ 35000</option>
                                      <option>₹ 36000</option>
                                      <option>₹ 37000</option>
                                      <option>₹ 38000</option>
                                      <option>₹ 39000</option>
                                      <option>₹ 40000</option>
                                      <option>₹ 45000</option>
                                      <option>₹ 50000</option>
                                      <option>₹ 55000</option>
                                      <option>₹ 60000</option>
                                      <option>₹ 65000</option>
                                      <option>₹ 70000</option>
                                      <option>₹ 75000</option>
                                      <option>₹ 80000</option>
                                      <option>₹ 85000</option>
                                      <option>₹ 90000</option>
                                      <option>₹ 95000</option>
                                      <option>₹ 100000</option>
                                      <option>₹ 105000</option>
                                      <option>₹ 110000</option>
                                      <option>₹ 115000</option>
                                      <option>₹ 120000</option>
                                      <option>₹ 125000</option>
                                      <option>₹ 130000</option>
                                      <option>₹ 135000</option>
                                      <option>₹ 140000</option>
                                      <option>₹ 145000</option>
                                      <option>₹ 150000</option>
                                      <option>₹ 155000</option>
                                      <option>₹ 160000</option>
                                      <option>₹ 165000</option>
                                      <option>₹ 170000</option>
                                      <option>₹ 175000</option>
                                      <option>₹ 180000</option>
                                      <option>₹ 185000</option>
                                      <option>₹ 190000</option>
                                      <option>₹ 195000</option>
                                      <option>₹ 200000</option>
                                      <option>₹ 210000</option>
                                      <option>₹ 220000</option>
                                      <option>₹ 230000</option>
                                      <option>₹ 240000</option>
                                      <option>₹ 250000</option>
                                      <option>₹ 260000</option>
                                      <option>₹ 270000</option>
                                      <option>₹ 280000</option>
                                      <option>₹ 290000</option>
                                      <option>₹ 300000</option>
                                      <option>₹ 410000</option>
                                      <option>₹ 420000</option>
                                      <option>₹ 430000</option>
                                      <option>₹ 440000</option>
                                      <option>₹ 450000</option>
                                      <option>₹ 460000</option>
                                      <option>₹ 470000</option>
                                      <option>₹ 480000</option>
                                      <option>₹ 490000</option>
                                      <option>₹ 500000</option>
                                      <option>₹ 525000</option>
                                      <option>₹ 550000</option>
                                      <option>₹ 575000</option>
                                      <option>₹ 600000</option>
                                      <option>₹ 650000</option>
                                      <option>₹ 700000</option>
                                      <option>₹ 750000</option>
                                      <option>₹ 800000</option>
                                      <option>₹ 850000</option>
                                      <option>₹ 900000</option>
                                      <option>₹ 950000</option>
                                      <option>₹ 1000000</option>
                                      <option>₹ 1200000</option>
                                      <option>₹ 1400000</option>
                                      <option>₹ 1500000</option>
                                      <option>₹ 1600000</option>
                                      <option>₹ 1800000</option>
                                      <option>₹ 2000000</option>
                                      <option>₹ 2500000</option>
                                      <option>₹ 3000000</option>
                                      <option>₹ 3500000</option>
                                      <option>₹ 4000000</option>
                                      <option>₹ 4500000</option>
                                      <option>₹ 5000000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 px-1 mb-1">
                            <button type="submit" class="btn btn-primary btn-sm btn-block h-100 rounded-0">Find Option</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
